.nav-container {
    width: 100%;
    height: 90px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*position: relative;*/
    background-color: var(--vivid-purple);
    color: var(--white);
    z-index: 999;
    position: sticky;
    top: 0;
}

.nav-container ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    row-gap: 32px;
}

.nav-container li {
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    color: var(--white)!important;
    text-transform: uppercase;
    width: fit-content;
    margin-right: 30px;
    text-decoration: none;
}
