.blog-details-container {
    width: 86%;
    display: flex;

    margin: 40px auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start
}

.blog-segment {
    width: 65%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    align-items: center;
    padding-top: 25px;
    margin-bottom: 60px;
    background-color: white;
}

.details-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-segment {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 25px;
    border-radius: 4px;
}

.b-details-title {
    text-align: left;
    width: 100%;
    font-size: 33px;
    font-weight: bold;
    line-height: 1.2;
    color: #222;
    letter-spacing: -1px;
    padding: 10px;
}

.b-details-header {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.b-details-image {
    width: 700px;
}

.b-details-text {
    color: #444;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.72;
    margin-top: 40px;
    text-align: left;
    width: 100%;
    padding: 10px;
}

.comment-wrapper {
    margin-top: 40px;
    padding-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ecf0f3;
    margin-bottom: 40px;
}

.comment-list {
    margin-top: 20px;
    width: 90%;
    margin-bottom: 20px;
}

.comment-add {
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    margin-bottom: 40px;
}

.comment-add form {
    width: 100%;
}
